* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, picture, footer, header, hgroup, menu, nav, main, section {
  display: block; }

body {
  line-height: 1;
  overflow-y: scroll; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "liga", "dlig", "kern";
  -moz-font-feature-settings: "liga", "dlig", "kern";
  -ms-font-feature-settings: "liga", "dlig", "kern";
  font-feature-settings: "liga", "dlig", "kern"; }

input::-webkit-input-placeholder {
  font: inherit; }
input::-moz-placeholder {
  font: inherit; }
input:-moz-placeholder {
  font: inherit; }
input:-ms-input-placeholder {
  font: inherit; }
